body {
  font-family: Arial;
  background: #f5f5f5;
}

.center, .dash {
  width: 350px;
  margin: 50px auto;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 6px;
}
