body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

.center {
  max-width: 400px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
